name: Publish to npm

on:
 release:
  types: [created]
 workflow_dispatch:

jobs:
 publish-npm:
  env:
   HUSKY: 0
  runs-on: ubuntu-latest
  steps:
   - uses: actions/checkout@v4
   - uses: oven-sh/setup-bun@v1
   - run: bun install
   - run: bun run build
   - uses: actions/setup-node@v4.0.2
     with:
      node-version: "20"
      registry-url: "https://registry.npmjs.org"
   - run: bun publish
     env:
      NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
